<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jmtechsvcs.myweatherapp" >

    <!-- allow the app to access the network from the phone. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyWeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activitypkg.MainWeatherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- added this service component for background processing. -->
        <service
            android:name=".networkpkg.NetworkIntentSvc"
            android:exported="false" >
        </service>

        <!-- handles the current weather displaying of data for a city. -->
        <activity
            android:name=".activitypkg.CurrentWeatherActivity"
            android:label="@string/title_activity_current_weather" >
        </activity>
        <activity
            android:name=".activitypkg.CitySearchActivity"
            android:label="@string/title_activity_city_search" >
        </activity>
    </application>

</manifest>
