<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jmtechsvcs.myweatherapp" >

    <!-- allow the app to access the network from the phone. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyWeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/weather"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".activitypkg.CitySearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- added this service component for background processing. -->
        <service
            android:name=".networkpkg.NetworkIntentSvc"
            android:exported="false" >
        </service>

        <!-- handles the current weather displaying of data for a city. -->
        <activity
            android:name=".activitypkg.CurrentWeatherActivity"
            android:label="@string/title_activity_current_weather"
            android:screenOrientation="portrait" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".activitypkg.CitySearchActivity" -->
        <!--
            android:label="@string/title_activity_city_search"
            android:screenOrientation="portrait">
        -->
        <!-- </activity> -->
        <activity
            android:name=".activitypkg.WeatherStationDisplayActivity"
            android:label="@string/title_activity_weather_station_display"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activitypkg.DailyWeatherForecastActivity"
            android:label="@string/title_activity_daily_weather_forecast"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activitypkg.HourlyWeatherActivity"
            android:label="@string/title_activity_hourly_weather" >
        </activity>

        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>
</manifest>
